[build]
publish = "build/"
command = "pnpm run build"

[build.environment]
NODE_VERSION = "24.5.0"

# V1 version of the app used different service worker file name
[[redirects]]
from = "/sw.js"
to = "/service-worker.js"
status = 200
force = true

[[redirects]]
from = "/*"
to = "/200.html"
status = 200

[[headers]]
for = "/*"
[headers.values]
Referrer-Policy = "strict-origin-when-cross-origin"
X-Content-Type-Options = "nosniff"
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
Content-Security-Policy = "frame-ancestors 'none'"
Cross-Origin-Resource-Policy = "same-origin"
Cross-Origin-Embedder-Policy = "require-corp"
