@unocss preflights;
@unocss default;
@unocss;

html {
	color-scheme: light;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	/* Chrome implementation with fixed elements is very buggy */
	/* scrollbar-gutter: stable; */
	scroll-padding-top: var(--app-header-height);
	scroll-padding-bottom: var(--bottom-overlay-height);
	--app-header-height: 64px;
	@apply text-body-md bg-surface text-onSurface;
}

html.dark {
	color-scheme: dark;
}

* {
	scrollbar-width: thin;
	scrollbar-color: theme('colors.secondary/0.3') transparent;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: 'Fira Sans', system-ui, sans-serif;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.app-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ripple {
	width: 4px;
	height: 4px;
	position: absolute;
	border-radius: 50%;
	opacity: 0.2;
	background-color: currentColor;
	animation-fill-mode: both;
	contain: strict;
	will-change: transform, opacity;
	pointer-events: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

:where(:focus) {
	outline: none;
}

:where(:focus-visible) {
	outline: 2px solid theme('colors.onSurface');
	outline-offset: -2px;
}
