@unocss preflights;
@unocss default;
@unocss;

html {
	color-scheme: light;
	width: 100%;
	scrollbar-gutter: stable;
	--app-header-height: 56px;
}

@screen sm {
	html {
		--app-header-height: 64px;
	}
}

html.dark {
	color-scheme: dark;
}

body {
	font-family: 'Fira Sans', system-ui, sans-serif;
	-webkit-tap-highlight-color: transparent;
	@apply text-body-md h-full w-full select-none bg-background text-onBackground;
}

.app-container {
	display: flex;
	flex-direction: column;
}

.ripple {
	width: 4px;
	height: 4px;
	position: absolute;
	border-radius: 50%;
	opacity: 0.2;
	background-color: currentColor;
	animation-fill-mode: both;
	contain: strict;
	will-change: transform, opacity;
	pointer-events: none;
}
